.maxHeight {
  max-height: 50em;
}
.maxWidth {
  max-width: 45em;
  margin: auto;

}
.iconColor {
  color: darkorange;
}
.buttonList{
  min-width: 15em;
}
.buttonList:hover{
  background-color: darkorange;
  color: white;
}
