<ion-header>
  <ion-toolbar>
    <ion-title>Lets roll!</ion-title>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref='/'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-justify-content-center ion-padding-top ion-padding-start ion-padding-end">
  <ion-card class="maxWidth">

      <img class="maxHeight" alt="avatar" src="{{imgURL}}"/>

    <ion-card-header>
      <ion-card-subtitle>{{character.race}} | {{character.playerClass}} | Level: {{character.level}} | {{character.xp}}XP</ion-card-subtitle>
      <ion-card-title >{{character.name}}</ion-card-title>

    </ion-card-header>
      <ion-card-content>
        <ion-item >
          <i class="fa-solid fa-shield-halved ion-margin"></i>
          <h2> {{character.armorClass}}</h2>
        </ion-item>
        <ion-item color="danger" [hidden]="character.hitPoints > character.maxHitPoints / 2">
          <i class="fa-solid fa-heart ion-margin"></i>
          <h2>{{character.hitPoints}}/{{character.maxHitPoints}}HP</h2>
        </ion-item>
        <ion-item [hidden]="character.hitPoints <= character.maxHitPoints / 2">
          <i class="fa-solid fa-heart ion-margin"></i>
          <h2>{{character.hitPoints}}/{{character.maxHitPoints}}HP</h2>
        </ion-item>
        <ion-item class="ion-text-center">
          <ion-label [hidden]="!showMessageBox">{{message}}</ion-label>
        </ion-item>
        <ion-buttons class="ion-justify-content-center ion-text-start">
          <ion-button class="buttonList"><i class="fa-solid fa-heart ion-padding-end"></i> Heal</ion-button>
          <ion-button class="buttonList"><i class="fa-solid fa-skull-crossbones ion-padding-end"></i>Take damage</ion-button>
        </ion-buttons>
        <ion-buttons class="ion-justify-content-center" slot="start">
          <ion-button  class="buttonList"><i class="fa-solid fa-plus ion-padding-end"></i>Add xp</ion-button>
          <ion-button class="buttonList"><i class="fa-solid fa-arrow-up ion-padding-end"></i>level up!</ion-button>
        </ion-buttons>
      </ion-card-content>
  </ion-card>

</ion-content>
